*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.card{
  width: 500px;
  margin: 60px auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 12px;
}
body{
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
body h2{
  font-size: 26px;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 60%;
}
footer{
  margin-left: 200px;
  color: #f4f4;
  font-size: 14px;
  margin-bottom: auto;
}
body p{
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}
a{
  text-decoration: none;
  color: blue;
}
a:hover{
  transform: translate(-5px);
  box-shadow: 0 5px 5px red;
}